@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?d77o8g');
    src:  url('./fonts/icomoon.eot?d77o8g#iefix') format('embedded-opentype'),
      url('./fonts/icomoon.ttf?d77o8g') format('truetype'),
      url('./fonts/icomoon.woff?d77o8g') format('woff'),
      url('./fonts/icomoon.svg?d77o8g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-list-menu_color:before {
    content: "\e900";
  }
  .icon-armchair:before {
    content: "\e901";
  }
  .icon-loc:before {
    content: "\e902";
  }
  .icon-briefcase:before {
    content: "\e903";
  }
  .icon-home:before {
    content: "\e904";
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'), local('./fonts/Gilroy-ExtraBold'),
        url('./fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('./fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('./fonts/Gilroy-Heavy'),
        url('./fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-Heavy.woff') format('woff'),
        url('./fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('./fonts/Gilroy-LightItalic'),
        url('./fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-LightItalic.woff') format('woff'),
        url('./fonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'), local('./fonts/Gilroy-ThinItalic'),
        url('./fonts/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-ThinItalic.woff') format('woff'),
        url('./fonts/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'), local('./fonts/Gilroy-BlackItalic'),
        url('./fonts/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-BlackItalic.woff') format('woff'),
        url('./fonts/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'), local('./fonts/Gilroy-BoldItalic'),
        url('./fonts/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-BoldItalic.woff') format('woff'),
        url('./fonts/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('./fonts/Gilroy-SemiBold'),
        url('./fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-SemiBold.woff') format('woff'),
        url('./fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('./fonts/Gilroy-UltraLightItalic'),
        url('./fonts/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-UltraLightItalic.woff') format('woff'),
        url('./fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-SemiBoldItalic.eot');
    src: local('Gilroy SemiBold Italic'), local('./fonts/Gilroy-SemiBoldItalic'),
        url('./fonts/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-SemiBoldItalic.woff') format('woff'),
        url('./fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('./fonts/Gilroy-Light'),
        url('./fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-Light.woff') format('woff'),
        url('./fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('./fonts/Gilroy-MediumItalic'),
        url('./fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-MediumItalic.woff') format('woff'),
        url('./fonts/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ExtraBoldItalic.eot');
    src: local('Gilroy ExtraBold Italic'), local('./fonts/Gilroy-ExtraBoldItalic'),
        url('./fonts/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-ExtraBoldItalic.woff') format('woff'),
        url('./fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('./fonts/Gilroy-Regular'),
        url('./fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-Regular.woff') format('woff'),
        url('./fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('./fonts/Gilroy-HeavyItalic'),
        url('./fonts/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-HeavyItalic.woff') format('woff'),
        url('./fonts/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('./fonts/Gilroy-Medium'),
        url('./fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-Medium.woff') format('woff'),
        url('./fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'), local('./fonts/Gilroy-RegularItalic'),
        url('./fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-RegularItalic.woff') format('woff'),
        url('./fonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('./fonts/Gilroy-UltraLight'),
        url('./fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-UltraLight.woff') format('woff'),
        url('./fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('./fonts/Gilroy-Bold'),
        url('./fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-Bold.woff') format('woff'),
        url('./fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('./fonts/Gilroy-Thin'),
        url('./fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-Thin.woff') format('woff'),
        url('./fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('./fonts/Gilroy-Black'),
        url('./fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gilroy-Black.woff') format('woff'),
        url('./fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
  
:root{
    --main: #7A4896;
    --main2: #4a2558;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,"Gilroy","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #000000;
    &.open{
        overflow: hidden;
        .profile_btn{
            display: none;
        }
    }
}
a{
    text-decoration: none!important;
}
a,
button{
    outline: none!important;
}
.ico{
    &.ico_pattern{
        background-position: center!important;
        background-size: contain!important;
        background-repeat: no-repeat!important;
    }
    &.ico_phone{
        background: url('~static/ico/call-answer.svg');
    }
    &.ico_vk{
        background: url('~static/ico/vk-social-network-logo.svg');
    }
    &.ico_inst{
        background: url('~static/ico/instagram-logo.svg');
    }
    &.ico_whts{
        background: url('~static/ico/whatsapp.svg');
    }
    &.ico_arr_down{
        background: url('~static/ico/download-arrow.svg');
    }
    &.ico_time{
        background: url('~static/ico/clock.svg');
    }
    &.ico_money{
        background: url('~static/ico/funds.svg');
    }
    &.ico_education{
        background: url('~static/ico/cap.svg');
    }
    &.ico_design_main{
        background: url('~static/ico/armchair_color.svg');
    }
    &.ico_food{
        background: url('~static/ico/salad.svg');
    }
    &.ico_room{
        background: url('~static/ico/makeup.svg');
    }
    &.ico_fav{
        background: url('~static/ico/award.svg');
    }
    &.ico_web_model{
        background: url('~static/ico/model.svg');
    }
    &.ico_operator{
        background: url('~static/ico/support.svg');
    }
    &.ico_agent{
        background: url('~static/ico/customer-service-agent.svg');
    }
    &.ico_location{
        background: url('~static/ico/maps-and-flags.svg');
    }
    &.ico_call_phone{
        background: url('~static/ico/call-answer_color.svg');
    }
    &.ico_email{
        background: url('~static/ico/black-back-closed-envelope-shape.svg');
    }
}
.h2{
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}
.footer_clearfix{
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    padding-bottom: calc(54px + var(--safe-area-inset-bottom));
}
.btn-primary{
    background-color: var(--main);
    border-color: var(--main);
}
.profile_btn{
    position: fixed;
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    padding-bottom: calc(0px + var(--safe-area-inset-bottom));
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    will-change: transform;
    text-align: center;
    z-index: 100;
    button{
        background: var(--main2);
        color: #ffffff;
        border: 0px;
        border-radius: 30px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        padding: 6px 18px;
        transition: transform .2s linear,height .12s;
        -webkit-transition: transform .2s linear,height .12s;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        &.pinned{
            -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
        }
    }
}
.oth_page{
    padding-top: 70px;
}
.page_title{
    font-size: 26px;
    margin-bottom: 20px;
}
.clear_cl{
    height: 40px;
}
a{
    color: var(--main);
}